{% from "_macros.jinja2" import section %}
{{ section("Error") }}
ID: {{ data.error.id }}
Type: {{ data.error.error_type }}
Message: {{ data.error.message }}

{{ section("Response") }}
ID: {{ data.response.id }}
Status: {{ data.response.status_code }}
URL: {{ data.response.url }}
Size: {{ data.response.size }} bytes

{{ section("Scraper") }}
{% if data.scraper_info.class %}
Class: {{ data.scraper_info.class }}
Module: {{ data.scraper_info.module }}
{% endif %}

{{ section("Observations") }}
{% for key, value in data.observations.items() %}
{{ key }}: {{ value }}
{% endfor %}