repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
     - id: check-added-large-files
     - id: check-ast
     - id: check-json
     - id: check-merge-conflict
     - id: check-toml
     - id: check-yaml
     - id: debug-statements
     - id: detect-private-key
     - id: fix-byte-order-marker
     - id: fix-encoding-pragma
       args: [--remove]
     - id: trailing-whitespace
       args: [--markdown-linebreak-ext=md]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.8
    hooks:
      - id: ruff
        args: [ --fix ]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.14.1
    hooks:
      - id: mypy
        additional_dependencies:
          - types-lxml

  - repo: local
    hooks:
      - id: pytest
        name: pytest
        entry: uv run pytest -x -q
        language: system
        pass_filenames: false
        always_run: true
